// Variables
@import 'variables';

// // Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */
@tailwind components;

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

.section {
  @apply .px-4;
}

.button {
  box-shadow: 0 2px 7px 0 #b0eaff;
  @apply .bg-button .text-white .no-underline .rounded-lg .text-sm .py-2 .px-5;
}

.card {
  @apply .bg-card .p-5 .rounded .shadow;
  color: var(--text-default-color)
}

.logo {
  fill: var(--logo-default-color)
}


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */
@tailwind utilities;

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */


#box {
  width: 200px;
  height: 200px;
  background-color: blue;
}


#abajo {
  margin-top: 400px;
  width: 200px;
  height: 200px;
  background-color: red;
}

#contactanos {
  margin-top: 400px;
  width: 200px;
  height: 200px;
  background-color: gray;
}

#informacion {
  margin-top: 600px;
  width: 200px;
  height: 200px;
  background-color: orange;
}

#sobre_nosotros {
  margin-top: 400px;
  width: 200px;
  height: 200px;
  background-color: green;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

//Themes
@import 'themes/light';
@import 'themes/dark';
@import 'themes/ocean';

//Components
@import 'components/button';