.theme-dark {
  --page-background-color: #17181E;
  --card-background-color: #1F2027;
  --button-background-color: #59C6F9;
  --header-background-color: #1F2027;
  --default-background-color: #665697;

  --text-default-color: #fff;
  --text-error-color: #ff0ee2;
  --logo-default-color: #a9a44c;
  --task-default-color: #bdbdbd;
}