.theme-light {
  --page-background-color: #F5F6F9;
  --card-background-color: white;
  --button-background-color: #47cdff;
  --header-background-color: #eaeaea;
  --default-background-color: #a7c1ea;


  --text-default-color: #222;
  --text-error-color: #ff7079;
  --logo-default-color: #110e0e;
  --task-default-color: #444;

}

